<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="../Stylesheet/educationstyle.css">
</head>
<body>
    <nav>
        <h2 class="logo">Portfol<span>io</span></h2>
        <ul>
          <li><a href="../index.html" target="_self">Home</a></li>
          <li><a href="../index.html#profile1">About</a></li>
          <li><a href="./education.html" target="_self">Education</a></li>
          <li><a href="../View/contact.html" target="_self">Contact Me</a></li>
        </ul>
    </nav>
    <h1>Education</h1>
    <div class="hj">
    <div  class="card">
        <img src="../Imagesportfolio/Kcgandhi.jpg" alt="KC Gandhi" style="width:100%" height="75%">
        <div class="container">
          <h4><b><a href="https://kcgandhischoolkalyan.com/" target="_blank">K.C.Gandhi School</a></b></h4>
          <p>Primary and Secondary Education</p>
        </div>
      </div>
    <div class="card">
        <img src="../Imagesportfolio/Kamladeviclg.png" alt="Kamladevi" style="width:100%" height="75%">
        <div class="container">
          <h4><b><a href="http://www.kamaladevicollege.com/" target="_blank">Kamladevi College</a></b></h4>
          <p>Junior College</p>
        </div>
      </div>
    <div class="card">
        <img src="../Imagesportfolio/Coep.jpeg" alt="COEP" style="width:100%" height="75%">
        <div class="container">
          <h4><b><a href="https://www.coep.org.in/" target="_blank">COEP Tech University</a></b></h4>
          <p>Currently perceiving B.Tech in Comp.</p>
        </div>
      </div>
    </div>
</body>
</html>